.language-selector {
  display: inline-block;
}

.language-selector select {
  background-color: #212529;
  color: #ffc107;
  border: 1px solid #ffc107;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.language-selector select:focus {
  outline: none;
  box-shadow: 0 0 5px #ffc107;
}

/* Language selector styles */
#languageSwitcher {
  width: auto;
  min-width: 110px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ffc107;
}

@media (max-width: 991px) {
  #languageSwitcher {
    margin-top: 10px;
  }
}

